
  
  <div class="container mt-4">
    <h3 style="text-align: center; margin-bottom: 50px;" >Cashier Cash Received Tracker</h3>
    <div class="row g-3" [formGroup]="casherForm">
      <div class="col-md-3">
        <label for="financialYear" class="form-label">Financial Year</label>
        <select class="form-select" id="financialYear" formControlName="financialYearId">
          <option value="1">2022-23</option>
          <option value="2">2023-24</option>
          <option value="3">2024-25</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="fromDate" class="form-label">From*</label>
        <input type="datetime-local" class="form-control" id="fromDate" value="2024-11-25" formControlName="fromDate" />
      </div>
      <div class="col-md-3">
        <label for="toDate" class="form-label">To*</label>
        <input type="date" class="form-control" id="toDate" value="2024-11-25" formControlName="toDate"/>
      </div>
      <div class="col-md-3 d-flex align-items-end">
        <button type="button" class="btn btn-primary" (click)="onSaveUser()">Search</button>
      </div>
    </div>
<div class="table-responsive mt-4">
  <table class="table table-bordered">
      <thead class="table-light">
          <tr>
              <th></th>
              <th>Date</th>
              <th>Bill Manager</th>
              <th>Counter Type</th>
              <th>Counter Name</th>
              <th>User Sessions</th>
              <th>Users</th>
              <th>User Session Status</th>
              <th>System Cash Closing Balance</th>
              <th>Cash Received Amount</th>
              <th>Variance</th>
             
          </tr>
      </thead>
      <tbody  >
        @for (item of gridData; track $index) {
         
         
          @if(item.billManager){
            <tr>
              <td>
                @if(BillManager){
                  <button type="button" (click)="toggleRow()" class="btn btn-danger">
                      -
                  </button>
                }@else{
                  <button type="button" (click)="close()" class="btn btn-success">
                      +
                  </button>
                }
              </td>

              <td>{{item.transactionDate }}</td>
            </tr>
            
              @if(BillManager){
                <tr>
                  <td>
                    @if(CounterType){
                      <button type="button" (click)="counterClose()" class="btn btn-danger">
                          -
                      </button>
                    }@else{
                      <button type="button" (click)="counterOpen()" class="btn btn-success">
                          +
                      </button>
                    }
                  </td>
                  <td></td>
                <td>{{item.billManager}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{item.sysCashClosingBalance}}</td>
                <td>{{item.cashRcvAmt}}</td>
                <td>{{item.varience}}</td>
              </tr>
              }
           
               @if(CounterType){
                <tr>
                  <td>
                    @if(CounterName){
                      <button type="button" (click)="CounterNameClose()" class="btn btn-danger">
                          -
                      </button>
                    }@else{
                      <button type="button" (click)="CounterNameOpen()" class="btn btn-success">
                          +
                      </button>
                    }
                  </td>
                  <td></td>
                <td></td>
                <td>{{item.counterType}}2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{item.sysCashClosingBalance}}</td>
                <td>{{item.cashRcvAmt}}</td>
                <td>{{item.varience}}</td>
              </tr>
               }
           
              @if(CounterName){
                <tr>
                    <td>
                  @if(UserSession){
                    <button type="button" (click)="UserSessionClose()" class="btn btn-danger">
                        -
                    </button>
                  }@else{
                    <button type="button" (click)="UserSessionOpen()" class="btn btn-success">
                        +
                    </button>
                  }
                </td>
                <td></td>
              <td></td>
              <td></td>
              <td>{{item.counterName}}3</td>
              <td></td>
              <td></td>
              <td></td>
              <td>{{item.sysCashClosingBalance}}</td>
              <td>{{item.cashRcvAmt}}</td>
              <td>{{item.varience}}</td>
            </tr>
              }
              @else{
             
            
            }
             @if(UserSession){
              <tr>
                <td></td>
                <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>{{item.userSession}}4</td>
              <td>{{item.users}}5</td>
              <td>{{item.userSessionStatus}}6</td>
              <td>{{item.sysCashClosingBalance}}</td>
              <td>{{item.cashRcvAmt}}</td>
              <td>{{item.varience}}</td>
            </tr>
             }
              @else{
           
            }
         
        }
    
        }
      </tbody>
  </table>
</div>

  </div>


