
  
  <div class="container mt-4">
    <h3 style="text-align: center; margin-bottom: 50px;" >Cashier Cash Received Tracker</h3>
    <div class="row g-3" [formGroup]="casherForm">
      <div class="col-md-3">
        <label for="financialYear" class="form-label">Financial Year</label>
        <select class="form-select" id="financialYear" formControlName="financialYearId">
          <option value="3">2022-23</option>
          <option value="3">2023-24</option>
          <option value="3">2024-25</option>
        </select>
        <div class="text-danger" *ngIf="casherForm.get('financialYearId')?.touched && casherForm.get('financialYearId')?.errors?.['required']">
          This field is required.
        </div>
      </div>
      <div class="col-md-3">
        <label for="fromDate" class="form-label">From</label>
        <input type="date" class="form-control" id="fromDate"  formControlName="fromDate" #formDate/>
        <div class="text-danger" *ngIf="casherForm.controls['fromDate'].touched">
          <span *ngIf="casherForm.controls['fromDate'].errors?.['required']">This is Required</span>
       </div>
      </div>
      <div class="col-md-3">
        <label for="toDate" class="form-label">To</label>
        <input type="date" class="form-control" id="toDate"  formControlName="toDate" #toDate/>
        <div class="text-danger" *ngIf="casherForm.controls['toDate'].touched">
          <span *ngIf="casherForm.controls['toDate'].errors?.['required']">This is Required</span>
       </div>
      </div>
      <div class="col-md-3 d-flex align-items-end">
        <button type="button" class="btn btn-primary" (click)="onSaveUser()">Search</button>
      </div>
    </div>
<div class="table-responsive mt-4">
  <table class="table table-bordered">
      <thead class="table-light">
          <tr>
              <th></th>
              <th>Date</th>
              <th>Bill Manager</th>
              <th>Counter Type</th>
              <th>Counter Name</th>
              <th>User Sessions</th>
              <th>Users</th>
              <th>User Session Status</th>
              <th>System Cash Closing Balance</th>
              <th>Cash Received Amount</th>
              <th>Variance</th>
             
          </tr>
      </thead>
      <tbody  >
        @for (item of gridData; track $index) {
         
          @if(item.billManager){
            <tr *ngIf="$index === 1 || gridData[$index - 1].transactionDate !== item.transactionDate">
              <td>
                @if(BillManager){
                  <button type="button" (click)="toggleRow()" class="btn btn-danger">
                      -
                  </button>
                }@else{
                  <button type="button" (click)="close()" class="btn btn-success">
                      +
                  </button>
                }
              </td>
             
              <td >
              {{item.transactionDate }}

            </td>
            <td colspan="3" class="text-center" style="font-weight: bold; font-size: 18px; color: blue; padding: 10px; background-color: #f0f8ff; border: 1px solid #ccc;">
              <span>{{ formDate.value }}</span> <span style="color: black;"> to </span>  <span>{{ toDate.value }}</span>
            </td>
            
            </tr>
            
              @if(BillManager){
                <tr>
                  <td>
                    <button type="button" class="btn" 
                    [ngClass]="selectedRowIndex === $index ? 'btn-danger' : 'btn-success'"
                    (click)="toggleDetails($index)">
              {{ selectedRowIndex === $index ? '-' : '+' }}
            </button>
                  </td>
                  <td></td>
                <td>{{item.billManager}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{item.sysCashClosingBalance}}</td>
                <td>{{item.cashRcvAmt}}</td>
                <td>{{item.varience}}</td>
              </tr>
              }
           
               @if(selectedRowIndex === $index){
                <tr>
                  <td>
                    <button type="button" class="btn" 
                      [ngClass]="selectedRowIndex === $index ? 'btn-danger' : 'btn-success'"
                      (click)="toggleDetails($index)">
                {{ selectedRowIndex === $index ? '-' : '+' }}
              </button>
                  </td>
                  <td></td>
                <td></td>
                <td>{{item.counterType}}2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{item.sysCashClosingBalance}}</td>
                <td>{{item.cashRcvAmt}}</td>
                <td>{{item.varience}}</td>
              </tr>
               }
           
              @if(selectedRowIndex === $index){
                <tr>
                    <td>
                      <button type="button" class="btn" 
                      [ngClass]="selectedRowIndex === $index ? 'btn-danger' : 'btn-success'"
                      (click)="toggleDetails($index)">
                {{ selectedRowIndex === $index ? '-' : '+' }}
              </button>
                </td>
                <td></td>
              <td></td>
              <td></td>
              <td>{{item.counterName}}3</td>
              <td></td>
              <td></td>
              <td></td>
              <td>{{item.sysCashClosingBalance}}</td>
              <td>{{item.cashRcvAmt}}</td>
              <td>{{item.varience}}</td>
            </tr>
              }
             @if(selectedRowIndex === $index){
              <tr>
                <td></td>
                <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>{{item.userSession}}4</td>
              <td>{{item.users}}5</td>
              <td>{{item.userSessionStatus}}6</td>
              <td>{{item.sysCashClosingBalance}}</td>
              <td>{{item.cashRcvAmt}}</td>
              <td>{{item.varience}}</td>
            </tr>
             }
        }
    
        }
      </tbody>
  </table>
</div>

  </div>





  
  
  